/target
**/*.rs.bk
/.cargo

# store api keys and such in this file
/keys.toml

# persistent configuration stored here
/config.toml

# default outputs of nix
result
utf-nate*.tar.gz
# I use this to keep outputs when cross compiling
result.*
# Using a different prefix prevents nh from auto cleaning
keep.*
