<head>
	{% include "head.html" %}
	<script>
		function form_after_request(event) {
			const link = document.getElementById("replay-link");

			link.href = event.detail.xhr.responseURL;
			link.innerHTML = link.href;
		}
	</script>
</head>
<body hx-ext="loading-states">
	<form
		hx-get="/{{ command.name }}/run"
		hx-target="#response"
		hx-indicator="#indicator"
		hx-on::after-request="form_after_request(event)"
	>
		{% for p in command.parameters %}
		<label for="{{ p.name }}">{{ p.name }}</label>
		<input type="text" name="{{ p.name }}"/>
		{% endfor %}
		<button type="submit" data-loading-disable>Submit</button>
	</form>
	<img id="indicator" class="indicator" src="/img/loading.svg"/>
	<div id="response" data-loading-class="hide"></div>
	<div id="replay" class="hide" data-loading-class="hide">
		<p id="replay">
			Copy this link to replay the same command at any time
		</p>
		<p>
			<a id="replay-link"></a>
		</p>
	</div>
	{{ help|safe }}
</body>
